<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.tcf.te.ui.terminals.connectorTypes">
      <connectorType
            class="ca.cdtdoug.wascana.arduino.ui.serial.ArduinoSerialConnectorType"
            id="ca.cdtdoug.wascana.arduino.serial.Connector"
            label="Arduino Serial">
      </connectorType>
   </extension>
   <extension
         point="org.eclipse.tcf.te.ui.terminals.launcherDelegates">
      <delegate
            class="ca.cdtdoug.wascana.arduino.ui.serial.ArduinoSerialMonitorDelegate"
            id="ca.cdtdoug.wascana.arduino.launcherDelegate.serial"
            label="Arduino Serial Monitor">
      </delegate>
   </extension>
   <extension
         point="org.eclipse.tm.terminal.terminalConnectors">
      <connector
            class="ca.cdtdoug.wascana.arduino.ui.serial.ArduinoSerialConnector"
            hidden="false"
            id="ca.cdtdoug.wascana.arduino.connector"
            name="Arduino Serial Monitor">
      </connector>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="ca.cdtdoug.wascana.arduino.core.launchConfigurationType"
            icon="icons/logo.png"
            id="ca.cdtdoug.wascana.arduino.ui.launchConfigurationTypeImage1">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="ca.cdtdoug.wascana.arduino.ui.newCategory"
            name="Arduino">
      </category>
      <wizard
            canFinishEarly="false"
            category="ca.cdtdoug.wascana.arduino.ui.newCategory"
            class="ca.cdtdoug.wascana.arduino.ui.target.NewArduinoTargetWizard"
            hasPages="true"
            icon="icons/logo.png"
            id="ca.cdtdoug.wascana.arduino.ui.newTargetWizard"
            name="Android Target"
            project="false">
      </wizard>
   </extension>
   <extension
         point="ca.cdtdoug.wascana.arduino.core.consoleService">
      <provider
            class="ca.cdtdoug.wascana.arduino.ui.launch.ArduinoLaunchConsole">
      </provider>
   </extension>
</plugin>
