<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.tcf.te.ui.terminals.connectorTypes">
      <connectorType
            class="ca.cdtdoug.wascana.arduino.ui.serial.ArduinoSerialConnectorType"
            id="ca.cdtdoug.wascana.arduino.serial.connector"
            label="Arduino Serial">
      </connectorType>
   </extension>
   <extension
         point="org.eclipse.tcf.te.ui.terminals.launcherDelegates">
      <delegate
            class="ca.cdtdoug.wascana.arduino.ui.serial.ArduinoSerialMonitorDelegate"
            id="ca.cdtdoug.wascana.arduino.launcherDelegate.serial"
            label="Arduino Serial Monitor">
      </delegate>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="ca.cdtdoug.wascana.arduino.core.launchConfigurationType"
            icon="icons/logo.png"
            id="ca.cdtdoug.wascana.arduino.ui.launchConfigurationTypeImage1">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="ca.cdtdoug.wascana.arduino.ui.newCategory"
            name="Arduino">
      </category>
      <wizard
            canFinishEarly="false"
            category="ca.cdtdoug.wascana.arduino.ui.newCategory"
            class="ca.cdtdoug.wascana.arduino.ui.remote.NewArduinoTargetWizard"
            hasPages="true"
            icon="icons/logo.png"
            id="ca.cdtdoug.wascana.arduino.ui.newTargetWizard"
            name="Android Target"
            project="false">
      </wizard>
      <wizard
            category="ca.cdtdoug.wascana.arduino.ui.newCategory"
            class="ca.cdtdoug.wascana.arduino.ui.project.NewArduinoProjectWizard"
            icon="icons/logo.png"
            id="ca.cdtdoug.wascana.arduino.ui.newProjectWizard"
            name="Arduino Project"
            project="true">
      </wizard>
   </extension>
   <extension
         point="ca.cdtdoug.wascana.arduino.core.consoleService">
      <provider
            class="ca.cdtdoug.wascana.arduino.ui.launch.ArduinoLaunchConsole">
      </provider>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="ca.cdtdoug.wascana.arduino.ui.remote.ArduinoTargetPropertyPage"
            id="ca.cdtdoug.wascana.arduino.ui.targetPropertyPage"
            name="Arduino"
            selectionFilter="single">
         <enabledWhen>
            <adapt
                  type="ca.cdtdoug.wascana.arduino.core.remote.IArduinoRemoteConnection">
            </adapt>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.launchbar.ui.launchBarUIContributions">
      <descriptorUI
            descriptorTypeId="ca.cdtdoug.wascana.arduino.core.descriptorType"
            labelProvider="ca.cdtdoug.wascana.arduino.ui.launch.ArduinoDescriptorLabelProvider">
      </descriptorUI>
   </extension>
   <extension
         point="org.eclipse.remote.core.remoteServices">
      <connectionTypeService
            connectionTypeId="ca.cdtdoug.wascana.arduino.core.connectionType"
            factory="ca.cdtdoug.wascana.arduino.ui.remote.ArduinoRemoteServicesUI$Factory"
            service="org.eclipse.remote.ui.IRemoteUIConnectionService">
      </connectionTypeService>
   </extension>
</plugin>
