<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.tcf.te.ui.terminals.connectorTypes">
      <connectorType
            class="ca.cdtdoug.wascana.arduino.ui.serial.ArduinoSerialConnectorType"
            id="ca.cdtdoug.wascana.arduino.serial.connector"
            label="Arduino Serial">
      </connectorType>
   </extension>
   <extension
         point="org.eclipse.tcf.te.ui.terminals.launcherDelegates">
      <delegate
            class="ca.cdtdoug.wascana.arduino.ui.serial.ArduinoSerialMonitorDelegate"
            id="ca.cdtdoug.wascana.arduino.launcherDelegate.serial"
            label="Arduino Serial Monitor">
      </delegate>
   </extension>
   <extension
         point="org.eclipse.tm.terminal.terminalConnectors">
      <connector
            class="ca.cdtdoug.wascana.arduino.ui.serial.ArduinoSerialConnector"
            hidden="false"
            id="ca.cdtdoug.wascana.arduino.serial.connector"
            name="Arduino Serial Monitor">
      </connector>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="ca.cdtdoug.wascana.arduino.core.launchConfigurationType"
            icon="icons/logo.png"
            id="ca.cdtdoug.wascana.arduino.ui.launchConfigurationTypeImage1">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="ca.cdtdoug.wascana.arduino.ui.newCategory"
            name="Arduino">
      </category>
      <wizard
            canFinishEarly="false"
            category="ca.cdtdoug.wascana.arduino.ui.newCategory"
            class="ca.cdtdoug.wascana.arduino.ui.target.NewArduinoTargetWizard"
            hasPages="true"
            icon="icons/logo.png"
            id="ca.cdtdoug.wascana.arduino.ui.newTargetWizard"
            name="Android Target"
            project="false">
      </wizard>
      <wizard
            category="ca.cdtdoug.wascana.arduino.ui.newCategory"
            class="ca.cdtdoug.wascana.arduino.ui.project.NewArduinoProjectWizard"
            icon="icons/logo.png"
            id="ca.cdtdoug.wascana.arduino.ui.newProjectWizard"
            name="Arduino Project"
            project="true">
      </wizard>
   </extension>
   <extension
         point="ca.cdtdoug.wascana.arduino.core.consoleService">
      <provider
            class="ca.cdtdoug.wascana.arduino.ui.launch.ArduinoLaunchConsole">
      </provider>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="ca.cdtdoug.wascana.arduino.ui.target.DeleteTargetHandler"
            id="ca.cdtdoug.wascana.arduino.ui.command.deleteTarget"
            name="Delete">
      </command>
      <command
            defaultHandler="ca.cdtdoug.wascana.arduino.ui.target.OpenTerminalHandler"
            id="ca.cdtdoug.wascana.arduino.ui.command.openTerminal"
            name="Open Serial Monitor">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.cdt.launchbar.ui.targetsView">
         <command
               commandId="ca.cdtdoug.wascana.arduino.ui.command.deleteTarget"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate>
                     <adapt
                           type="ca.cdtdoug.wascana.arduino.core.target.ArduinoTarget">
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="ca.cdtdoug.wascana.arduino.ui.command.openTerminal"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate>
                     <adapt
                           type="ca.cdtdoug.wascana.arduino.core.target.ArduinoTarget">
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="ca.cdtdoug.wascana.arduino.ui.target.ArduinoTargetPropertyPage"
            id="ca.cdtdoug.wascana.arduino.ui.targetPropertyPage"
            name="Arduino"
            selectionFilter="single">
         <enabledWhen>
            <adapt
                  type="ca.cdtdoug.wascana.arduino.core.target.ArduinoTarget">
            </adapt>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.launchbar.ui.launchBarUIContributions">
      <targetUI
            icon="platform:/plugin/ca.cdtdoug.wascana.arduino.ui/icons/logo.png"
            labelProvider="ca.cdtdoug.wascana.arduino.ui.target.ArduinoTargetLabelProvider"
            name="Arduino"
            newWizard="ca.cdtdoug.wascana.arduino.ui.target.NewArduinoTargetWizard"
            targetTypeId="ca.cdtdoug.wascana.arduino.core.targetType">
      </targetUI>
   </extension>
</plugin>
