<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.cdt.managedbuilder.core.buildDefinitions">
      <managedBuildRevision
            fileVersion="4.0.0">
      </managedBuildRevision>
      <toolChain
            archList="all"
            configurationEnvironmentSupplier="ca.cdtdoug.wascana.arduino.core.EnvVarSupplier"
            id="ca.cdtdoug.wascana.arduino.toolChain.avr"
            isAbstract="false"
            languageSettingsProviders="ca.cdtdoug.wascana.arduino.avr.builtins;ca.cdtdoug.wascana.arduino.avr.outputParser"
            name="Arduino AVR C++"
            osList="all"
            supportsManagedBuild="false">
         <targetPlatform
               binaryParser="org.eclipse.cdt.core.ELF"
               id="ca.cdtdoug.wascana.arduino.targetPlatform"
               isAbstract="false"
               name="Arduino">
         </targetPlatform>
         <builder
               buildRunner="org.eclipse.cdt.managedbuilder.core.ExternalBuildRunner"
               command="make"
               commandLauncher="org.eclipse.cdt.core.CommandLauncher"
               id="ca.cdtdoug.wascana.arduino.builder.make"
               isAbstract="false"
               isVariableCaseSensitive="false"
               name="Arduino Make">
         </builder>
         <tool
               command="avr-g++"
               id="ca.cdtdoug.wascana.arduino.tool.avr.compiler"
               isAbstract="false"
               name="Arduino AVR C++ Compiler"
               natureFilter="ccnature"
               superClass="cdt.managedbuild.tool.gnu.cpp.compiler.base">
         </tool>
      </toolChain>
   </extension>
   <extension
         point="org.eclipse.cdt.core.LanguageSettingsProvider">
      <provider
            class="ca.cdtdoug.wascana.arduino.core.AvrLanguageSettingsProvider"
            id="ca.cdtdoug.wascana.arduino.avr.builtins"
            name="Arduino AVR Compiler Built-ins"
            parameter="${COMMAND} ${FLAGS} -E -P -v -dD &quot;${INPUTS}&quot;">
         <language-scope
               id="org.eclipse.cdt.core.g++">
         </language-scope>
      </provider>
      <provider
            class="org.eclipse.cdt.managedbuilder.language.settings.providers.GCCBuildCommandParser"
            id="ca.cdtdoug.wascana.arduino.avr.outputParser"
            name="Arduino AVR Built Output Parser"
            parameter="(avr-gcc)|(avr-g\+\+)"
            prefer-non-shared="true">
      </provider>
   </extension>
   <extension
         point="org.eclipse.cdt.launchbar.core.launchBarContributions">
      <targetType
            class="ca.cdtdoug.wascana.arduino.core.launch.ArduinoLaunchTargetType"
            id="ca.cdtdoug.wascana.arduino.core.targetType">
      </targetType>
      <descriptorType
            class="ca.cdtdoug.wascana.arduino.core.launch.ArduinoLaunchDescriptorType"
            id="ca.cdtdoug.wascana.arduino.core.descriptorType"
            priority="5">
      </descriptorType>
      <configProvider
            class="ca.cdtdoug.wascana.arduino.core.launch.ArduinoLaunchConfigurationProvider"
            descriptorType="ca.cdtdoug.wascana.arduino.core.descriptorType"
            targetType="ca.cdtdoug.wascana.arduino.core.targetType">
      </configProvider>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="ArduinoLaunchConfigurationType"
            id="ca.cdtdoug.wascana.arduino.core.launchConfigurationType"
            modes="run"
            name="Arduino">
      </launchConfigurationType>
   </extension>

</plugin>
